.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 25px;
  /* border-bottom: 1px solid #dee2e657; */
  box-shadow: 2px 0 8px rgb(0 0 0 / 10%);
  z-index: 10;
}

.header-username{
  color: #333;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.header h2 {
  font-family: var(--font-main);
  margin: 0;
  font-size: 26px;
  font-weight: 600;
  color: #333;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* .header-avatar {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.header-logout {
  background-color: #e2908c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-main);
}